@font-face {
    font-family: "pt-serif";
    src: url("/fonts/PT_Serif/PTSerif-Regular.ttf");
}

body {
    background-color: rgb(22, 20, 20);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    background: linear-gradient(#000,rgb(90, 6, 6),rgb(63, 62, 62),rgb(0, 0, 0));
}

h1 {
    background-color: rgb(59, 57, 57);
    font-family: pt-serf;
    font-size: 50px;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    border-radius: 14px;
    margin-top: 20px;
    padding-left: 10px;
    
}

li {
    background-color: rgb(59, 57, 57);
    font-family: pt-serif;
    font-size: 25px;
    font-weight: bold;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    border-radius: 14px;
    margin: 20px;
    padding-left: 10px;
}

p {
    font-family: pt-serif;
    font-size: 20px;
    text-align: justify;
    padding: 25px;
}

img{
    width: 400px;
    height: 400px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

h6{
    color: rgb(255, 255, 255);
    font-family: pt-serif;
    font-size: 18px;
    letter-spacing: 3px;
    padding-left: 10px;
}

a{
    color: rgb(80, 152, 185);
    text-decoration: none;
    padding-left: 10px;
    padding-bottom: 20px;
}