h1
    {color:black;
    font-family: 'Times New Roman', Times, serif;
    font: size 10px;
    border-style:inset;
    border-color:rgb(22, 22, 22);
    border-radius: 5px;
    border-width: 2mm;
    max-width: 900px;
}
h2 {
    color:rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-style:inset;
    border-color:rgb(22, 22, 22);
    border-radius: 5px;
    border-width: 2mm;
    max-width: 900px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    max-width: 900px;
    width: 100%;
    margin: none;
    text-align:left;
    line-height: 1.5;
}

.button-ver-mas{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 2px solid 088;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: rgb(6, 25, 53);
    color: aliceblue;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
body {
    background-color: rgb(177, 192, 234);
}
